/* Brand colors — Primary */
:root {
  --mod-orange: #ff6400;
  --mod-black: #1a1a1a;
  --mod-white: #fff;
  --mod-green: #4CFF9A;
  --mod-pink: #FFB6F3;
}
/* Brand colors don't work here // zocha */
