/* GENERAL */
::selection {
  background: rgb(255, 100, 0, 0.76);
}

:root {
  font-family: Okomito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* IMPORTANT --- Setting of Base Font Sizes - Human, RWD and A11Y friendly
- Generally the default font-size of browsers today is 16px.
- We set html font-size to 16px as a fallback for browser with no rem support.
  They will simply ignore the following entry. 
- We set font-size to 6.25% which for the default browser setting of 16px
  means a calculated 1:1 px to rem ration.
  This way we can use rems without having to recalculate them in our minds
  into pixels - now 1rem = 1px but with all the advantages of rem.
  A last step is to set body to 1rem, so the default font-size for any
  placed text will be a comfortable 16px. */


html {
  font-size: 16px;
  /* for older browsers */
  font-size: 6.25%;
  /* for modern browsers - now 1rem = 1px */
  overflow-y: scroll;
  background-color: rgb(215, 232, 238);
}


@media only screen and (min-width: 1280px) {
  html {
    font-size: 8%;
  }
}

@media only screen and (min-width: 2200px) {
  html {
    font-size: 10%;
  }
}



body {
  font-size: 16rem;
  /* a comfortable default text size  */
  line-height: 1.2;
}



/* /GENERAL */

/* GRIDS */

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 0;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 0;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

/* /GRIDS */