/* Works Section Styles */

.works h2 {
  display: block;
  width: 100%;
  margin-bottom: 24rem;
  font-size: 96rem;
  line-height: 80rem;
  font-weight: 400;
}

.works p {
  font-size: 23rem;
  line-height: 30rem;
  margin-bottom: 17rem;
}